<div class="accordion" id="talksAccordion">
    <div class="mb-2">
        <a href="@Room.JoinUrl" target="_blank" class="btn btn-success btn-lg">
            🔗 Подключиться к комнате
        </a>
    </div>

    @for (int i = 0; i < Room?.Talks?.Count; i++)
    {
        var talk = Room.Talks[i];
        var collapseId = $"collapse{i}";
        var headingId = $"heading{i}";
        <div class="accordion-item">
            <h2 class="accordion-header" id="@headingId">
                <button class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#@collapseId"
                        aria-expanded="false"
                        aria-controls="@collapseId">
                    @talk.Time — @talk.Topic
                </button>
            </h2>
            <div id="@collapseId"
                 class="accordion-collapse collapse"
                 aria-labelledby="@headingId"
                 data-bs-parent="#talksAccordion">
                <div class="accordion-body">

                    @if (!String.IsNullOrWhiteSpace(@talk.Speaker)) {<strong>Докладчик:<br/></strong> @talk.Speaker <br/>}
                    @if (!String.IsNullOrWhiteSpace(@talk.Organization)) {<strong>Организация:<br/></strong> @talk.Organization <br />}
                    @if (!String.IsNullOrWhiteSpace(@talk.PresentationUrl)) {<a href="@talk.PresentationUrl" target="_blank">Презентация</a>} 
                   
                </div>
            </div>
        </div>
    }
</div>

@* Параметр *@
@code {
    [Parameter]
    public ConferenceRoom? Room { get; set; }
}