@using ConfProgram.Models
@inherits LayoutComponentBase

@* Параметр *@
@code {
    [Parameter]
    public ConferenceRoom? Room { get; set; }
}

@if (Room is not null)
{
    <h4 class="text-start" style="color: var(--color-orange);">
        Программа комнаты: @Room.Title
    </h4>

    <div class="mb-3">
        <a href="@Room.JoinUrl" target="_blank" class="btn btn-success btn-lg">
            🔗 Подключиться к комнате
        </a>
    </div>

    @* === Тактические направления === *@
    @if (Room.TacticalGoals.Any())
    {
        <h5 class="mt-4">Тактические направления мероприятия:</h5>
        <ul>
            @foreach (var goal in Room.TacticalGoals)
            {
                <li>@goal</li>
            }
        </ul>
    }

    @* === Ожидаемые результаты === *@
    @if (Room.ExpectedResults.Any())
    {
        <h5 class="mt-4">Ожидаемые результаты от мероприятия:</h5>
        <ul>
            @foreach (var result in Room.ExpectedResults)
            {
                <li>@result</li>
            }
        </ul>
    }

    @* === Практическое использование === *@
    @if (Room.PracticalUse.Any())
    {
        <h5 class="mt-4">Практическое использование:</h5>
        <ul>
            @foreach (var usage in Room.PracticalUse)
            {
                <li>@usage</li>
            }
        </ul>
    }




    <div class="table-responsive pt-1">
        <table class="table table-bordered table-striped text-center rosneft-table">
            <thead class="table-header">
            <tr>
                    <th class="time-col">Время</th>
                    <th class="topic-col">Тема</th>
                    <th class="speaker-col">Докладчик</th>
                    <th class="org-col">Организация</th>
                    <th class="presentation-col">Презентация</th>
               
            </tr>
            </thead>
            <tbody>
            @foreach (var talk in Room.Talks)
            {
                <tr>
                    <td class="time-col">@talk.Time</td>
                    <td class="topic-col">@talk.Topic</td>
                    <td class="speaker-col">@talk.Speaker</td>
                    <td class="org-col">@talk.Organization</td>                   
                    
                   
                    <td class="presentation-col">
                        @if (!String.IsNullOrWhiteSpace(talk.PresentationUrl))
                        {
                            <a href="@talk.PresentationUrl" target="_blank">Скачать</a>
                        }
                    </td>
                    
                </tr>
            }
            </tbody>
        </table>
    </div>
}