@using ConfProgram.Models
@inherits LayoutComponentBase

@* Параметр *@
@code {
    [Parameter]
    public ConferenceRoom? Room { get; set; }
}

@if (Room is not null)
{
    <h4 class="text-start" style="color: var(--color-orange);">
        Программа комнаты: @Room.Title
    </h4>

    <div class="mb-3">
        <a href="@Room.JoinUrl" target="_blank" class="btn btn-success btn-lg">
            🔗 Подключиться к комнате
        </a>
    </div>

    <div class="table-responsive pt-1">
        <table class="table table-bordered table-striped text-center rosneft-table">
            <thead class="table-header">
            <tr>
                <th>Время</th>
                <th>Тема</th>
                <th>Докладчик</th>
                <th>Организация</th>
                <th>Презентация</th>
                <th>Подключение</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var talk in Room.Talks)
            {
                <tr>
                    <td>@talk.Time</td>
                    <td>@talk.Topic</td>
                    <td>@talk.Speaker</td>
                    <td>@talk.Organization</td>
                    <td><a href="@talk.PresentationUrl" target="_blank">Скачать</a></td>
                    
                </tr>
            }
            </tbody>
        </table>
    </div>
}